:root {
    --slate-body_text-color: #434455;
    --white-color: #FFFFFF;
    --dark-grey-color: #2E2F42;
    --iris-links-color: #4D5AE5;
    --ocean-presed-color: #404BBF;
    --accent-color: #e7e9fc;
    --white-2-color: #f4f4fd;
}
 
 /*-------------mobile-----------*/
 /*-------------section-2-mobile-----------*/
    @media screen and (min-width: 428px) {
    .container {
        max-width: 396px;
    } 
        
}
/*-------------tablet-----------*/
    @media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
/*-------------header-tablet-----------*/
.header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-grey-color);
    display: flex;
    gap: 40px;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list:hover,
.header-list:focus {
    color: var(--ocean-presed-color);
}

.active {
    position: relative;
    color: var(--ocean-presed-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .header-list.active::after {
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    background-color: var(--ocean-presed-color);
    width: 100%;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

.address {
    font-style: normal;
    gap: 40px;
}
.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    padding: 24px 0;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-body_text-color);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean-presed-color);
}

 /*-------------section-1-tablet-----------*/
   .hero {
    height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab.jpg);
    }
    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution:2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-tab-2x.jpg);
            }
        }

    .hero-header {
    padding-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    }
   /*-------------section-2-tablet-----------*/

    .privilages {
       padding: 96px 0;
    }
    .privilages-list {
        display: flex;
        gap: 72px 24px;
        
    }
    .privilages-item {
       max-width: unset;
       width: calc((100% - 24px) / 2);
       height: 120px;
    }
    .privilages-subheader {
       text-align: start;
    }
        /*-------------section-2-tablet-modal-window-------------*/
.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
}

.close-window {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
}



    /*-------------section-4-tablet------------*/
    .team-list {
        display: flex;        
        gap: 64px 24px;}

    .team-item {
       width: calc((100% - 24px) / 2);
    }
    .list-customers {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    
    .item-customers {
            /*width: calc((100% - 5 * 24px) / 6);
      height: 88px;*/
       width: calc((100% - 48px) / 3)
    }
}
/*-------------desktop-----------*/
     @media screen and (min-width: 1158px) {
    .container {
        max-width: 1138px;       
    }
/*------------header-desktop-----------*/
.header {
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    padding: 24px 0;
}

.header-navigation {
    display: flex;
    align-items: center;

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-links-color);
    margin-right: 76px;
    padding: 24px 0;
}

.header-logo-studio {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--dark-grey-color);
}

.header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-grey-color);
    display: flex;
    gap: 40px;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list:hover,
.header-list:focus {
    color: var(--ocean-presed-color);
}

.active {
    position: relative;
    color: var(--ocean-presed-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .header-list.active::after {
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    background-color: var(--ocean-presed-color);
    width: 100%;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

.address {
    font-style: normal;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-body_text-color);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean-presed-color);
}

/*-------------section-1-desktop-----------*/
    .hero {
    height: 600px;
    padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-deskt.jpg);              
        }

     @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution:2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-deskt-2x.jpg);
            }
        
        }       
        
    
        .hero-header {
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            max-width: 496px;
            padding-bottom: 48px;
           
        }
    
        .hero-button {
            font-family: "Roboto", sans-serif;
            background: var(--iris-links-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: var(--white-color);
            cursor: pointer;
            display: block;
            align-self: center;
            padding: 16px 32px;
            min-width: 169px;
            height: 56px;
            border-radius: 4px;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .hero-button:hover,
        .hero-button:focus {
            background: var(--ocean-presed-color);
        }

 /*-------------section-2-desktop-----------*/
    .privilages {
       padding: 120px 0;
       background-color: var(--white-color);
    }
    .icon-skills {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        background: var(--white-2-color);
        border-radius: 4px;
        margin-bottom: 8px;
        flex-shrink: 0;
    }
    .privilages-list {
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: nowrap;
    }
    .privilages-subheader{       
     text-align: start;
     font-size: 20px;
     font-family: Roboto;
     font-weight: 500;
     line-height: 1.2;
    }
    .privilages-item {
         width: 264px;
    }

/*-------------section-2-desktop-modal-window-------------*/

.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
}

.close-window {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    }

/*-------------section-3-desktop-----------*/

.activities {
    background-color:var(--white-color);
    padding: 120px 0;
    display: flex;
}
.main-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-grey-color);
    justify-content: center;
}

.main-header.activities {
    padding: 0;
    margin-bottom: 72px;
}

.activities-list {
    display: flex;
    gap: 24px;
}

.activities-item {
    width: calc((100% - 48px) / 3);
}


 /*-------------section-4-desktop-----------*/
    .team {
        padding: 120px 0px;
    }
    .team-list {
        display: flex;
        gap: 24px;
    }
                
    .team-item {
        width: calc((100% - 72px) / 4);
    }
 /*---------section-5-desktop------*/
    .sectionfive-studio {
        padding: 120px 0;
    }

    .list-customers {
        display: flex;
        gap: 24px;
    }
    
        .item-customers {
        width: calc((100% - 5 * 24px) / 6);
      height: 88px;
            
    }
    }
/*--------footer-desktop-------*/
.footer {
    background: var(--dark-grey-color);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline
}

.info-footer {
    margin-right: 120px;
}

.text-social {
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.itemround-footer {
    width: 40px;
    height: 40px;
    background: var(--iris-links-color);
    border-radius: 50%;
    position: relative;
}

.block-round-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-right: 80px;
}

.logoweb-footer {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--iris-links-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logoweb-footer:hover,
.logoweb-footer:focus {
    background-color: #31d0aa;
}

.footer-logo-webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-links-color);
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-studio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--white-2-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-2-color);
    max-width: 264px;

}

.icon-footer {
    fill: var(--white-2-color);
}

.form-subscribe {
    display: flex;
    gap: 24px;
}

.input-subscribe {
    min-width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    align-items: center;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

.input-subscribe::placeholder {
    color: #FFFFFF;
}

.button-subscribe {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: var(--ocean-presed-color);
}

.subscribe-icon {
    fill: #ffffff;
    margin-left: 16px;
}