:root {
    --slate-body_text-color: #434455;
    --white-color: #FFFFFF;
    --dark-grey-color: #2E2F42;
    --iris-links-color: #4D5AE5;
    --ocean-presed-color: #404BBF;
    --accent-color: #e7e9fc;
    --white-2-color: #f4f4fd;
}
 <!-------------section-2------------->
 
   @media screen and (min-width: 428px) {
    .container {
        max-width: 396px;
    } 
        
}

    @media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
    /*-------------section-2------------*/
    .privilages {
       padding: 96px 0;
    }
    .privilages-list {
        display: flex;
        gap: 72px 24px;
        
    }
    .privilages-item {
       max-width: unset;
       width: calc((100% - 24px) / 2);
       height: 120px;
    }
    /*-------------section-4------------*/
    .team-list {
        display: flex;        
        gap: 64px 24px;}

    .team-item {
       width: calc((100% - 24px) / 2);
    }
    .list-customers {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    
    .item-customers {
            /*width: calc((100% - 5 * 24px) / 6);
      height: 88px;*/
       width: calc((100% - 48px) / 3)
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1138px;       
    }
 /*-------------section-2------------*/
    .privilages {
       padding: 120px 0;
    }
    .icon-skills {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        background: var(--white-2-color);
        border-radius: 4px;
        margin-bottom: 8px;
        flex-shrink: 0;
    }
    .privilages-list {
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: nowrap;
    }
    .privilages-item {
         width: 264px;
    }
 /*-------------section-4------------*/
    .team {
        padding: 120px 0px;
    }
    .team-list {
        display: flex;
        gap: 24px;
    }
                
    .team-item {
        width: calc((100% - 72px) / 4);
    }
 /*---------section-5-------*/
    .sectionfive-studio {
        padding: 120px 0;
    }

    .list-customers {
        display: flex;
        gap: 24px;
    }
    
        .item-customers {
        width: calc((100% - 5 * 24px) / 6);
      height: 88px;
            
    }
    }
