@media screen and (min-width: 428px) {
    .container {
        max-width: 396px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
    .privilages-list {
        display: flex;
        gap: 72px 24px;
    }
    .privilages-item {
       width: calc((100% - 24px) / 2);
       height: 120px;
    }
}