:root {
--slate-body_text-color: #434455;
--white-color: #FFFFFF;
--dark-grey-color: #2E2F42;
--iris-links-color: #4D5AE5;
--ocean-presed-color: #404BBF;
--accent-color:#e7e9fc;      
  }
body {
font-family: "Roboto", sans-serif;
font-size: 16px;
color: var(--slate-body_text-color);
background: var(--white-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  }
.link {
text-decoration: none;
}
.list {
list-style-type: none;
}
.header {
border-bottom: 1px solid var(--accent-color);
padding: 24px 0 24px 0;
}

.address-list {
display: flex;
gap: 40px;
}
.header-navigation {
display: flex;
align-items: center;

}
.header-container {
display: flex;
align-items: center;
justify-content: space-between;
}

.header-logo-webstudio {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris-links-color);
margin-right: 76px;
}
.header-logo-studio {
font-family: "Raleway";
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color:var(--dark-grey-color); 
}
.header-list {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--dark-grey-color);
display: flex;
gap: 40px;

}
.header-list:hover,
.header-list:focus {
color: var(--ocean-presed-color);
}
.address {
font-style: normal;
gap: 40px;
}
.address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-body_text-color);

}
.address-link:hover,
.address-link:focus {
color: var(--ocean-presed-color);
}
.hero {
background: var(--dark-grey-color);
padding: 188px 0px;
}

.hero-container {

padding: 0px 316px;
display: flex;
flex-direction: column;
}

.hero-header {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: var(--white-color);
max-width: 496px;
padding-bottom: 48px;
margin-left: auto;
margin-right: auto;

}
.hero-button {
font-family: "Roboto", sans-serif;
background: var(--iris-links-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white-color);
cursor: pointer;
display: block;
align-self: center;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border-radius: 4px;
border: none;
}
.hero-button:hover,
.hero-button:focus {
background:var(--ocean-presed-color);
}
.privilages {
background:#E5E5E5;
padding: 120px 0;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.privilages-list {
display: flex;
gap: 24px;
}
.privilages-item {
width: 264px
}
.privilages-subheader {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-grey-color);
margin-bottom: 8px;
}
.privilages-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-body_text-color);
}
.main-header {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: var(--dark-grey-color);
}
.main-header.activities {
margin-bottom: 72px;
}
.activities {
background-color: #E5E5E5;
padding-bottom: 120px;
}
.activities-container{

}
.activities-list {
display: flex;
gap: 24px;
}
.activities-item {
width: 360px;
}
.team {
background: #F4F4FD;
padding: 120px 0px;
}

.main-header.team {
margin-bottom: 72px;
}
.team-list {
display: flex;
gap: 24px;
}
.team-item {
background: var(--white-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;

}
.team-subheader {
background: var(--white-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-grey-color);
text-align: center;
text-transform: capitalize;
margin-bottom: 8px;

}
.team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-body_text-color);
}
.team-hplusp {
padding: 32px 16px;
text-align: center;
}
.footer {
background: var(--dark-grey-color);
padding: 100px 0;
}

.footer-logo-webstudio {
font-family: "Raleway",sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris-links-color);
margin-bottom: 16px;
display: inline-block;
}
.footer-logo-studio {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #f4f4fd;
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
max-width: 264px;
}
.main-portfolio {
background: #E5E5E5;
}
.portfolio {
padding-top: 96px;
padding-bottom: 120px;
}

.portfolio-button {
display: flex;
gap: 24px;
margin-bottom: 72px;
justify-content: center;
align-items: center;
  }

.portfolio-filter-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em; 
color: var(--iris-links-color);
background: #F4F4FD;
cursor: pointer;
padding: 12px 24px;
border: 1px solid var(--accent-color);
} 
 
.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
color: var(--white-color);
background: var(--ocean-presed-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
border: 1px solid transparent;
}
.portfolio-list {
display: flex;
flex-wrap: wrap;
}
.portfolio-li {
margin-right: 24px;
margin-bottom: 48px;
column-gap: 24px;
row-gap: 48px;

}
.htoop {
border: 1px solid #e7e9fc;
border-top: none;
padding: 32px 16px;
}
.portfolio-subheader {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-grey-color);
margin-bottom: 8px;
padding-left: 16px;
}
.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-body_text-color);
padding-left: 16px;
}
.portfolio-li:nth-child(3) {
  margin-right: 0;
}

.portfolio-li:nth-child(6) {
  margin-right: 0;
}

.portfolio-li:nth-child(9) {
  margin-right: 0;
  margin-bottom: 0;
}

.portfolio-li:nth-child(8) {
  margin-bottom: 0;
}

.portfolio-li:nth-child(7) {
  margin-bottom: 0;
}