:root {
--slate-body_text-color: #434455;
--white-color: #FFFFFF;
--dark-grey-color: #2E2F42;
--iris-links-color: #4D5AE5;
--ocean-presed-color: #404BBF;      
  }
body {
font-family: "Roboto", sans-serif;
font-size: 16px;
color: var(--slate-body_text-color);
background: var(--white-color);
}
.link {
text-decoration: none;
}
.list {
list-style-type: none;
}
.header-logo-webstudio {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris-links-color);

}
.header-logo-studio {
font-family: "Raleway";
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color:var(--dark-grey-color); 
}
.header-list:hover,
.header-list:focus {
color: var(--ocean-presed-color);
}
.address {
font-style: normal;
}
.address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-body_text-color);
}
.address-link:hover,
.address-link:focus {
color: var(--ocean-presed-color);
}
.hero {
background: var(--dark-grey-color);
}
.hero-header {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: var(--white-color);
}
.hero-button {
font-family: "Roboto", sans-serif;
background: var(--iris-links-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white-color);
cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
background-color:var(--ocean-presed-color);
}
.privilages {
background:#E5E5E5;
}
.privilages-subheader {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-grey-color);
}
.privilages-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-body_text-color);
}
.main-header {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: var(--dark-grey-color);
}
.activities {
background: #E5E5E5;
}
.team {
background: #F4F4FD;
}
.team-item {
background: var(--white-color);
}
.team-subheader {
background: var(--white-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-grey-color);  
}
.team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-body_text-color);
}
.footer {
background: var(--dark-grey-color);
}
.footer-logo-webstudio {
font-family: "Raleway",sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris-links-color);
}
.footer-logo-studio {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #f4f4fd;
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}
.main-portfolio {
background: #E5E5E5;
}
.portfolio-filter-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em; 
color: var(--iris-links-color);
background: #F4F4FD;
cursor: pointer;
}
 
.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
color: var(--white-color);
background: var(--ocean-presed-color);
}
.portfolio-subheader {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-grey-color);
}
.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-body_text-color);
}